// font family
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Indie+Flower&display=swap');
$calligraphy: 'Indie Flower', cursive;


// Colors
$dark: #261624;
$primary : rgba(241, 144, 225, 0.87);
$secondary: #CF7E4A;
